In [ ]:
import pandas as pd
import numpy as np

**Importing Data file**

In [ ]:
df=pd.read_csv("/content/Amazon Sale Report.csv")

/tmp/ipython-input-140-1562293219.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("/content/Amazon Sale Report.csv")

In [ ]:
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

**Data Cleaning**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [ ]:
df.describe()

               index            Qty         Amount  ship-postal-code
count  128975.000000  128975.000000  121180.000000     128942.000000
mean    64487.000000       0.904431     648.561465     463966.236509
std     37232.019822       0.313354     281.211687     191476.764941
min         0.000000       0.000000       0.000000     110001.000000
25%     32243.500000       1.000000     449.000000     382421.000000
50%     64487.000000       1.000000     605.000000     500033.000000
75%     96730.500000       1.000000     788.000000     600024.000000
max    128974.000000      15.000000    5584.000000     989898.000000

In [ ]:
df.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [ ]:
df=df.drop(("Unnamed: 22"),axis= True)

In [ ]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN

In [ ]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df["Courier Status"].unique()

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [ ]:
df["Courier Status"]=df["Courier Status"].replace(np.nan,"Cancelled")

In [ ]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
dtype: int64

In [ ]:
df["currency"]=df["currency"].replace(np.nan,"INR")
df["Amount"]=df["Amount"].replace(np.nan,0)

In [ ]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
dtype: int64

In [ ]:
df["ship-city"].unique()

array(['MUMBAI', 'BENGALURU', 'NAVI MUMBAI', ...,
       'GULABPURA, Distt BHILWARA', 'Prayagraj (ALLAHABAD)', 'Halol'],
      dtype=object)

In [ ]:
df["ship-city"]

0              MUMBAI
1           BENGALURU
2         NAVI MUMBAI
3          PUDUCHERRY
4             CHENNAI
             ...
128970      HYDERABAD
128971       GURUGRAM
128972      HYDERABAD
128973          Halol
128974         Raipur
Name: ship-city, Length: 128975, dtype: object

In [ ]:
dt = df[df['ship-city'] != 1]

In [ ]:
df=dt

In [ ]:
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,1,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,1,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,1,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,1,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,1,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN

In [ ]:

df['ship-city'] = df['ship-city'].str.title().str.strip()
df['ship-state'] = df['ship-state'].str.title().str.strip()

In [ ]:
df["ship-city"].unique()

array(['Mumbai', 'Bengaluru', 'Navi Mumbai', ..., 'Cherukunnu (P.O)',
       'Gulabpura, Distt Bhilwara', 'Prayagraj (Allahabad)'], dtype=object)

In [ ]:
df["ship-city"].nunique()

7297

**Creating Mapping table for Irregular values**

In [ ]:

# Create cleaned city column.............!
df['ship-city-cleaned'] = df['ship-city'].astype(str).str.strip().str.title()

# Mapping table for standardization...........!
city_mapping = {

    '53Miles': None,
    '7Barasat': 'Barasat',
    'Aburoad': 'Abu Road',
    'Abhayapuri, Bongaigaon': 'Abhayapuri',
    ',Hyderabad': 'Hyderabad',
    '.Gannavaram': 'Gannavaram',
    '.Azamgarh': 'Azamgarh',
    '..Katra': 'Katra',
    ',Raibarely Road Faizabad (Ayodhya)': 'Ayodhya',
    '(Via Cuncolim)Quepem,South Goa': 'Quepem',
    '(Chikmagalur Disterict).     (N.R Pur Thaluku)': 'Chikmagalur',
    'Adajan Gam, Surat': 'Surat',
    '147/19 B Keshab Chandra Sen Street Kolkata Nine Ma': 'Kolkata',
    '116  B. P. M. B Sarani, Uttarpara Kotrung': 'Kolkata',
    '6Th Mile Tadong': 'Tadong',

    # Ahmedabad variants
    'Ahmadabad': 'Ahmedabad',
    'Ahmedabad 380007': 'Ahmedabad',
    'Ahmedabad 380013': 'Ahmedabad',
    'Ahmedabad 380014': 'Ahmedabad',
    'Ahmedabad,': 'Ahmedabad',
    'Ahmedabad.': 'Ahmedabad',
    'Ahmedabadvasna': 'Ahmedabad',
    'Bapunagar,Ahmedabad': 'Ahmedabad',
    'Bodakdev, Ahmedabad': 'Ahmedabad',
    'Bopal Ahmedabad': 'Ahmedabad',
    'Chandkheda, Ahmedabad': 'Ahmedabad',
    'Chandlodia, Ahmedabad': 'Ahmedabad',
    'Dholka, Ahmedabad': 'Ahmedabad',
    'Khodiyar, Ahmedabad': 'Ahmedabad',
    'Ranip,Ahmedabad': 'Ahmedabad',
    'R.C. Technical College Road, Ghatlodia, Ahmedabad': 'Ahmedabad',
    'Sg Highway Ahmedabad': 'Ahmedabad',
    'Shela, Ahmedabad': 'Ahmedabad',
    'South Bopal, Ahmedabad': 'Ahmedabad',

    # Ahmednagar variants........!
    'Ahmadnagar': 'Ahmednagar',
    'Ahmadnagara': 'Ahmednagar',
    'Ahmed Nagar': 'Ahmednagar',
    'Ahmedanagar': 'Ahmednagar',
    'Ahmednagar': 'Ahmednagar',
    'Ahmedpur': 'Ahmednagar',
    'Ahmadpur': 'Ahmednagar',
    'Akole Ahmadnagar District': 'Ahmednagar',
    'Rajur Ahmadnagar District': 'Ahmednagar',
    'Newasa-Phata, Tal-Newasa, Dist-Ahmednagar': 'Ahmednagar',
    'Tal -Newasa Dist- Ahmednagar': 'Ahmednagar',
}

# Replace values using mapping.............!
df['standard_city'] = df['ship-city-cleaned'].replace(city_mapping).fillna(df['ship-city-cleaned'])

In [ ]:
df.standard_city.nunique()

7255

In [ ]:
unique_cities_df = pd.DataFrame(df['standard_city'].unique(), columns=['standard_city'])

In [ ]:
unique_cities_df

                  standard_city
0                        Mumbai
1                     Bengaluru
2                   Navi Mumbai
3                    Puducherry
4                       Chennai
...                         ...
7250           New Delhi 110032
7251      Vaishali Nagar Nagpur
7252           Cherukunnu (P.O)
7253  Gulabpura, Distt Bhilwara
7254      Prayagraj (Allahabad)

[7255 rows x 1 columns]

In [ ]:
dt=unique_cities_df
dt[dt['standard_city'].str.contains(r'\d$', na=False)]

                standard_city
75                     Puri-2
121            Kolkata 700034
256             Mumbai 400101
636          New Delhi-110075
803            Mumbai -400064
...                       ...
7147   Khopoli-Pali Road.Mh06
7152           Kolkata 700050
7230  Greater Noida, Sector 1
7231              Pune 411006
7250         New Delhi 110032

[243 rows x 1 columns]

In [ ]:
dt=df[df['standard_city'].str.contains(r'\d$', na=False)]

In [ ]:
dt.standard_city.unique()

array(['Puri-2', 'Kolkata 700034', 'Mumbai 400101', 'New Delhi-110075',
       'Mumbai -400064', 'Mumbai 400023',
       'Kondhwa Khurd 48 .Pune  411048', 'Mumbai-400064', 'Mumbai 400057',
       'Pune-412207', 'Vadodara 390019', 'Bengaluru-97', 'Bhilai  490020',
       'Leh, Alt No 9419844047', 'Noida Sector 76', 'Ulhasnagar 421004',
       'Bengaluru 560066', 'Chennai 42', 'Bengaluru -50015',
       'Gaur City 1', 'Thane 400602', 'Delhi 110085',
       'Thoothukudi 628008', 'Tilhar, 9717754694', 'Pune 16',
       'Secunderabad 500094', 'Kalamassery Ph No: 9074200347',
       'Dombivali West - 421202', 'Kolkata 700104', 'Rohtak 124001',
       'Mumbai 400070', 'Coimbatore 641041', 'Chennai -600053',
       'Bengaluru 560064', 'Kolkata  39', 'Pune-411014',
       'New Delhi 110016', 'Mumbai - 400062', 'Madurai- 625004',
       'Kolkata 700039', 'Ulhasnagar 4', 'Raichur-584101', 'Mumbai -13',
       'Bengaluru 560020', 'New Delhi 110059', 'Bengaluru 560085',
       'Tumakuru. Phone Number 9686000855', 'Bangalore City 560002',
       'Bengaluru 560037', 'Chennai- 600040', 'New Delhi-110008',
       'Agra 282005', 'Pune 36', 'Pune-411062', 'Sanpada Sector 1',
       'Vadodara - 390019', 'Pune 41104', 'Akurdi, Pune-35',
       'North Lakhimpur-787001', 'Mumbai 400030', 'Navi Mumbai 410218',
       'New Delhi 110045', 'Udyogh Vihar Phase 2', 'Chandigarh - 160023',
       'Duliajan No 1', 'Bangalore-560 086', 'Kolkata 700036',
       'Mayur Vihar-3', 'Mira Road East, Mumbai 401107',
       'Vrindavan- 281121', 'Kolkata- 700031', 'Pune 411030',
       'Chennai 600004', 'Pune51', 'Mumbai No. 400053',
       'Davangere-577004', 'Hoshiarpur-146111', 'Nashik 422003',
       'Bangalore18', 'New Delhi.53', 'Raipur 492004', 'Bengaluru 560016',
       'Bhubaneswar, 751003', 'Pune-411028', 'Mumbai 400071',
       'Mumbai 400063', 'Noida 201301', 'Mumbai 400050',
       'Kurseong -734204', 'Bengaluru - 560008', 'Mangaluru 575008',
       'Chennai 106', 'Kolkata 700029', 'Bengaluru 560062', 'Pune-24',
       'Mumbai 40064', 'Faridabad-121004', 'Pune 411004', 'Agra-282001',
       'Ulhasnagar 3', 'New Delhi 110075', 'Sriperumbudur Ph:9944226768',
       'Mumbai 400102', 'Bengaluru; 560047', 'Chennai 600028',
       'Kalaburgi 585102', 'Hyderabad-47', 'Bengaluru-560005',
       'Bengaluru-28', 'New Delhi-110033',
       'Raxaul, East Champaran, Pin-845305', 'Chennai 600042',
       'Kolkata 700078', 'Kolkata - 700028', 'Mumbai 400064',
       'New Delhi 110023', 'Greater Noida(West) Sector 1',
       'Boduppal, Hyderabad - 92', 'Pune 411038', 'New Delhi 41',
       'Mumbai 400 020', 'Puducherry 605001', 'New Delhi-35',
       'Mumbai- 400054', 'New Delhi 110070', 'Kolkata 56',
       'Kolkata-700101', 'Greater Noida West Sec 2', 'Karur - 6',
       'Kalyan East-421306', 'Puducherry 605003', 'Coimbatore-641041',
       'Kakkanad West P.O, Cochin-30', 'Chennai600031', 'Howrah 711102',
       'Guwahati 5', 'Chennai 81', 'Bengaluru-560085',
       'Tal-Alibag, Dist - Raigad, Pin 402201',
       'Bidhan Nagar, Kolkata- 700102', 'Madurai - 625006',
       'Mumbai 400005', 'New Delhi 110017', 'New Delhi Dwarka Secter 6',
       'Aluva2', 'Pune 412207', 'Dwarka 110078', 'Bikaner 9680830319',
       'Mumbai 400066', 'Mayur Vihar Phase-1', 'New Delhi -110067',
       'Dwarka, Sector - 22', 'Bengaluru-560098', 'Bengaluru-11',
       'Kolkata 53', 'Chengamanad P O 683578', 'Kolkata-700064',
       'Pune, 51', 'Thiruvananthapuram 1',
       'Bhandup (West), Mumbai - 400078', 'Dehradun 248001',
       'Dombivli West 421202', 'Nagercoil-4, 629004', 'New Delhi 110034',
       'Bangalore-78', 'Kolkata 700063', 'Hyderabad-500018',
       'Nagercoil -  2', 'Shimla-717009',
       'Mulund ( West), Mumbai, Pin 400080',
       'Goregaon West, Mumbai 400062', 'Noida, Sec -44',
       'Dombivali (West) -421202', 'New Delhi 110076', 'Mumbai-400001',
       'Mumbai 40092', 'Polur Taluk, Thiruvannamalai District, 606903',
       'Goregaon East, Mumbai -  400097',
       'Rajarhat New Town Action Area 3',
       'New Delhi, Other No. 9667856896', 'Secunderabad 500003',
       'Tiruchirappalli - 620102', 'Mangaluru 575005', 'Guwahati 29',
       'District Petlad 388160', 'Nashik. Gst No. 27Alxpd3261A1Z9',
       'Mumbai 400098', 'Eluru -2', 'New Delhi-59',
       'Thottada,Kannur,670007', 'Cuttack - 14', 'Pune 411041',
       'Hanamkonda, Warangal. Mobile- 7661968333', 'Bangalore 560076',
       'Chennai 64', 'Mumbai 400067', 'Mumbai-400 062', 'Mumbai-400066',
       'Bengaluru 562125', 'Faridabad, Sector-91', 'Bengaluru 560043',
       'Bangalore 560062', 'Howrah 711112', 'Ulhasnagar 1',
       'Yelahanka, Karnataka, 560064', 'New Delhi 45', 'Kolkata 700145',
       'Chennai-81', 'Ranchi2', 'Coimbatore 25', 'Noida Sector 75',
       'New Delhi 110058', 'Thane- 401107', 'Harsul, Aurangabad 431001',
       'Chennai 126', 'Rourkela- 769012', 'Secunderabad-25', '1',
       'Aluva 6', 'Mumbai 400049', 'Chennai - 8', 'Mumbai 400053',
       'New Delhi-110015', 'Rohini Sector 8', 'Bengaluru 560032',
       'Pune 48', 'Pune-15', 'Thane:421302', 'Bhimavaram 2',
       'Mumbai-400051', 'Bangalore-17', 'Chennai- 603103', 'Pune 411060',
       'Aluva-2', 'Calicut,Pin-673008', 'Pune411002', 'Delhi -86',
       'Gurugram 122002', 'Khopoli-Pali Road.Mh06', 'Kolkata 700050',
       'Greater Noida, Sector 1', 'Pune 411006', 'New Delhi 110032'],
      dtype=object)

In [ ]:
df.standard_city

0              Mumbai
1           Bengaluru
2         Navi Mumbai
3          Puducherry
4             Chennai
             ...
128970      Hyderabad
128971       Gurugram
128972      Hyderabad
128973          Halol
128974         Raipur
Name: standard_city, Length: 128975, dtype: object

In [ ]:
df.standard_city.nunique()

7255

**Regex Creation**

In [ ]:
df['standard_city'] = df['standard_city'].str.replace(r'[\s\-]*[\d\s\-]*$', '', regex=True).str.strip()

In [ ]:
df.standard_city.nunique()

7062

In [ ]:
df['standard_city'] = df['standard_city'].str.replace(
    r'[\s\-:;,.]*[\d\s\-:;,.]*$', '', regex=True
).str.strip()

In [ ]:
df.standard_city.nunique()

7010

In [ ]:
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,ship-city-cleaned,standard_city
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,647.62,Mumbai,Maharashtra,400081.0,IN,NaN,False,Easy Ship,Mumbai,Mumbai
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,406.00,Bengaluru,Karnataka,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Bengaluru,Bengaluru
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,329.00,Navi Mumbai,Maharashtra,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,Navi Mumbai,Navi Mumbai
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,753.33,Puducherry,Puducherry,605008.0,IN,NaN,False,Easy Ship,Puducherry,Puducherry
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,574.00,Chennai,Tamil Nadu,600073.0,IN,NaN,False,NaN,Chennai,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,517.00,Hyderabad,Telangana,500013.0,IN,NaN,False,NaN,Hyderabad,Hyderabad
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,999.00,Gurugram,Haryana,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Gurugram,Gurugram
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,690.00,Hyderabad,Telangana,500049.0,IN,NaN,False,NaN,Hyderabad,Hyderabad
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Halol,Halol
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,696.00,Raipur,Chhattisgarh,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Raipur,Raipur

In [ ]:
df[df.standard_city== "Nan"]

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,ship-city-cleaned,standard_city
1871,1871,404-0566904-4825137,04-29-22,Shipped,Amazon,Amazon.in,Expedited,J0301,J0301-TP-L,Top,...,493.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
1872,1872,404-0566904-4825137,04-29-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-L,kurta,...,458.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
8752,8752,406-4003386-8768363,04-25-22,Shipped,Amazon,Amazon.in,Expedited,JNE3376,JNE3376-KR-M,kurta,...,432.0,NaN,NaN,NaN,NaN,NaN,False,NaN,Nan,Nan
11215,11215,402-0107720-7057168,04-23-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,654.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
13252,13252,407-4532637-8415521,04-22-22,Cancelled,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,380.0,NaN,NaN,NaN,NaN,NaN,False,Easy Ship,Nan,Nan
15688,15688,404-9229894-8608305,04-21-22,Shipped,Amazon,Amazon.in,Expedited,JNE3510,JNE3510-KR-M,kurta,...,442.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
16787,16787,402-4919636-4333150,04-20-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE1233,JNE1233-BLUE-KR-031-XXXL,kurta,...,376.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
18351,18351,405-4927647-8064368,04-19-22,Shipped,Amazon,Amazon.in,Expedited,J0230,J0230-SKD-XS,Set,...,1112.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
22930,22930,402-8628677-0457954,04-16-22,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,J0003,J0003-SET-S,Set,...,654.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
24986,24986,406-4079063-8291520,04-15-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3567,JNE3567-KR-XXL,kurta,...,399.0,NaN,NaN,NaN,NaN,NaN,False,NaN,Nan,Nan
30379,30379,404-7506843-7913132,04-12-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET350,SET350-KR-NP-L,Set,...,1299.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
37963,37963,407-3064376-9158743,04-08-22,Cancelled,Merchant,Amazon.in,Standard,JNE3567,JNE3567-KR-M,kurta,...,380.0,NaN,NaN,NaN,NaN,NaN,False,Easy Ship,Nan,Nan
37964,37964,407-3064376-9158743,04-08-22,Cancelled,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-S,kurta,...,380.0,NaN,NaN,NaN,NaN,NaN,False,Easy Ship,Nan,Nan
60986,60986,171-3257610-9237139,05-22-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3365,JNE3365-KR-1052-A-L,kurta,...,376.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
63040,63040,402-1049475-3611523,05-20-22,Shipped,Amazon,Amazon.in,Expedited,JNE3739,JNE3739-KR-XXL,kurta,...,459.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
73675,73675,405-1356730-8598722,05-11-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET187,SET187-KR-DH-XL,Set,...,699.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
73746,73746,407-4664354-2179554,05-11-22,Shipped,Amazon,Amazon.in,Expedited,SET374,SET374-KR-NP-M,Set,...,666.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
73771,73771,406-7680604-5439529,05-11-22,Shipped,Amazon,Amazon.in,Expedited,PJNE3607,PJNE3607-KR-4XL,kurta,...,869.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
73772,73772,406-7680604-5439529,05-11-22,Shipped,Amazon,Amazon.in,Expedited,PJNE3368,PJNE3368-KR-4XL,kurta,...,869.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
73911,73911,405-3420451-5230744,05-11-22,Cancelled,Amazon,Amazon.in,Expedited,SET374,SET374-KR-NP-M,Set,...,0.0,NaN,NaN,NaN,NaN,NaN,False,NaN,Nan,Nan
80011,80011,171-4552355-0255565,05-07-22,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,SET324,SET324-KR-NP-XL,Set,...,607.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
80092,80092,403-2857451-7335536,05-07-22,Shipped,Amazon,Amazon.in,Expedited,JNE3510,JNE3510-KR-S,kurta,...,467.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
80455,80455,171-4691098-8489159,05-06-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET183,SET183-KR-DH-M,Set,...,759.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
84008,84008,405-8605864-8021901,05-04-22,Shipped - Returned to Seller,Merchant,Amazon.in,Standard,JNE1951,JNE1951-KR-155-XXL,kurta,...,368.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
84757,84757,402-8651786-0683548,05-04-22,Shipped,Amazon,Amazon.in,Expedited,JNE3690,JNE3690-TU-XL,Top,...,487.0,NaN,NaN,NaN,NaN,NaN,False,NaN,Nan,Nan
104201,104201,403-3190636-2013146,06-18-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0351,J0351-SET-S,Set,...,792.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan
106498,106498,402-8673941-7883531,06-16-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3734,JNE3734-KR-XL,kurta,...,0.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
124215,124215,405-0340492-2359532,06-04-22,Cancelled,Amazon,Amazon.in,Expedited,JNE3465,JNE3465-KR-L,kurta,...,491.0,NaN,NaN,NaN,NaN,NaN,False,NaN,Nan,Nan
124357,124357,405-5884153-9925116,06-04-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-L,kurta,...,486.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
124358,124358,405-5884153-9925116,06-04-22,Shipped,Amazon,Amazon.in,Expedited,SET337,SET337-KR-NP-L,Set,...,874.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
124359,124359,405-5884153-9925116,06-04-22,Shipped,Amazon,Amazon.in,Expedited,SET154,SET154-KR-NP-L,Set,...,832.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
125385,125385,403-5172380-9787567,06-03-22,Shipped,Amazon,Amazon.in,Expedited,JNE3366,JNE3366-KR-1053-L,kurta,...,376.0,NaN,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,Nan,Nan
126620,126620,403-4249038-6582716,06-02-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3797,JNE3797-KR-M,Western Dress,...,735.0,NaN,NaN,NaN,NaN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,Nan,Nan

In [ ]:
df.standard_city.replace("Nan","Unknown",inplace=True)

/tmp/ipython-input-177-1395003436.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Nan","Unknown",inplace=True)

In [ ]:
(df.standard_city== "Unknown").sum()

np.int64(33)

In [ ]:
df.standard_city.nunique()

7010

In [ ]:
(df.standard_city== "New Delhi, Other No").sum()

np.int64(1)

In [ ]:
df['standard_city'] = df['standard_city'].str.split(',').str[0].str.strip()

In [ ]:
(df.standard_city== "New Delhi, Other No").sum()

np.int64(0)

In [ ]:
df.standard_city.nunique()

6595

In [ ]:
df['standard_city'] = df['standard_city'].str.replace(r'\s*\(.*?\)\s*', '', regex=True).str.strip()

In [ ]:
df.standard_city.nunique()

6511

In [ ]:
df['standard_city'] = df['standard_city'].str.replace(r'\bNo\.?\b$', '', regex=True).str.strip()

In [ ]:
df.standard_city.nunique()

6509

**Remove punctuation**

In [ ]:
df['standard_city'] = df['standard_city'].str.replace(r'^[\s\.,;:\-()]+', '', regex=True).str.strip()

In [ ]:
(df.standard_city== "Zirakpur Punjab Mohali").sum()

np.int64(2)

In [ ]:
df.standard_city.replace("Zirakpur Punjab Mohali","Zirakpur",inplace=True)

/tmp/ipython-input-190-3190458997.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Zirakpur Punjab Mohali","Zirakpur",inplace=True)

In [ ]:
df.standard_city.replace("Zira","Zirakpur",inplace=True)

/tmp/ipython-input-191-562542757.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Zira","Zirakpur",inplace=True)

In [ ]:
(df.standard_city== "Zira").sum()

np.int64(0)

In [ ]:
(df.standard_city== "Udaipurudipur").sum()

np.int64(6)

In [ ]:
df.standard_city.replace("Udaipurudipur","Udaipur",inplace=True)

/tmp/ipython-input-194-4172328767.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Udaipurudipur","Udaipur",inplace=True)

In [ ]:
(df.standard_city== "Udaipur").sum()

np.int64(218)

In [ ]:
(df.standard_city== "Udaipurudaipur").sum()

np.int64(2)

In [ ]:
df.standard_city.replace("Udaipurudaipur","Udaipur",inplace=True)

/tmp/ipython-input-197-3124961063.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Udaipurudaipur","Udaipur",inplace=True)

In [ ]:
(df.standard_city== "Chhota Udaipur").sum()

np.int64(2)

In [ ]:
df.standard_city.replace("Udaipurwati Jhunjhunu","Udaipur",inplace=True)

/tmp/ipython-input-199-1678295583.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Udaipurwati Jhunjhunu","Udaipur",inplace=True)

In [ ]:
(df.standard_city== "Udaipur").sum()

np.int64(221)

In [ ]:
df.standard_city.replace("Chhota Udaipur","Udaipur",inplace=True)

/tmp/ipython-input-201-1327210727.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Chhota Udaipur","Udaipur",inplace=True)

In [ ]:
(df.standard_city== "Udaipur").sum()

np.int64(223)

In [ ]:
(df.standard_city== "Udaipur Mavli").sum()

np.int64(1)

In [ ]:
df.standard_city.replace("Udaipur Mavli","Udaipur",inplace=True)

/tmp/ipython-input-204-3210153229.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.standard_city.replace("Udaipur Mavli","Udaipur",inplace=True)

In [ ]:
(df.standard_city== "Udaipur").sum()

np.int64(224)

In [ ]:
df["ship-state"].unique()

array(['Maharashtra', 'Karnataka', 'Puducherry', 'Tamil Nadu',
       'Uttar Pradesh', 'Chandigarh', 'Telangana', 'Andhra Pradesh',
       'Rajasthan', 'Delhi', 'Haryana', 'Assam', 'Jharkhand',
       'Chhattisgarh', 'Odisha', 'Kerala', 'Madhya Pradesh',
       'West Bengal', 'Nagaland', 'Gujarat', 'Uttarakhand', 'Bihar',
       'Jammu & Kashmir', 'Punjab', 'Himachal Pradesh',
       'Arunachal Pradesh', 'Manipur', 'Goa', 'Meghalaya', 'Tripura',
       'Ladakh', 'Dadra And Nagar', 'Sikkim', nan, 'Andaman & Nicobar',
       'Rajshthan', 'Nl', 'Mizoram', 'New Delhi',
       'Punjab/Mohali/Zirakpur', 'Rj', 'Orissa', 'Lakshadweep', 'Pb',
       'Apo', 'Ar', 'Pondicherry', 'Rajsthan'], dtype=object)

In [ ]:
state_mapping = {
    'Orissa': 'Odisha',
    'Rajsthan': 'Rajasthan',
    'Rajshthan': 'Rajasthan',
    'Rj': 'Rajasthan',
    'Pb': 'Punjab',
    'Punjab/Mohali/Zirakpur': 'Punjab',
    'New Delhi': 'Delhi',
    'Pondicherry': 'Puducherry',
    'Apo': None,  # Possibly invalid or foreign
    'Ar': 'Arunachal Pradesh',
    'Nl': 'Nagaland',
    'Dadra And Nagar': 'Dadra and Nagar Haveli and Daman and Diu',  # Merged UT
    'Lakshadweep': 'Lakshadweep',
    'Andaman & Nicobar': 'Andaman and Nicobar Islands',
    'nan': None  # Handle missing data
}
# Standardize state names
df['ship-state'] = df['ship-state'].replace(state_mapping)

# Optional: Handle missing or unknown states
df['ship-state'] = df['ship-state'].fillna('Unknown')

In [ ]:
df["ship-state"].unique()

array(['Maharashtra', 'Karnataka', 'Puducherry', 'Tamil Nadu',
       'Uttar Pradesh', 'Chandigarh', 'Telangana', 'Andhra Pradesh',
       'Rajasthan', 'Delhi', 'Haryana', 'Assam', 'Jharkhand',
       'Chhattisgarh', 'Odisha', 'Kerala', 'Madhya Pradesh',
       'West Bengal', 'Nagaland', 'Gujarat', 'Uttarakhand', 'Bihar',
       'Jammu & Kashmir', 'Punjab', 'Himachal Pradesh',
       'Arunachal Pradesh', 'Manipur', 'Goa', 'Meghalaya', 'Tripura',
       'Ladakh', 'Dadra and Nagar Haveli and Daman and Diu', 'Sikkim',
       'Unknown', 'Andaman and Nicobar Islands', 'Mizoram', 'Lakshadweep'],
      dtype=object)

In [ ]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                33
ship-state                0
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
ship-city-cleaned         0
standard_city             0
dtype: int64

In [ ]:
df["ship-country"].replace(np.nan,"Unknown",inplace=True)

/tmp/ipython-input-218-444710209.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ship-country"].replace(np.nan,"Unknown",inplace=True)

In [ ]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                33
ship-state                0
ship-postal-code         33
ship-country              0
promotion-ids         49153
B2B                       0
fulfilled-by          89698
ship-city-cleaned         0
standard_city             0
dtype: int64

In [ ]:
df["ship-postal-code"].replace(np.nan,"Unknown",inplace=True)

/tmp/ipython-input-220-580371309.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ship-postal-code"].replace(np.nan,"Unknown",inplace=True)

In [ ]:
df['promotion-ids'] = df['promotion-ids'].fillna("No_Promotions")

#df.replace({"promotion-ids":{np.nan,"No_Promotions"}},inplace=True)
#df["promotion-ids"].replace(np.nan,"",inplace=True)

In [ ]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency                  0
Amount                    0
ship-city                33
ship-state                0
ship-postal-code          0
ship-country              0
promotion-ids             0
B2B                       0
fulfilled-by          89698
ship-city-cleaned         0
standard_city             0
dtype: int64

In [ ]:
df["standard_city"].nunique()
#df["ship-city-cleaned"].nunique()

6502

In [ ]:
df.drop(["fulfilled-by"],axis=1,inplace=True)
df.drop(["ship-city"],axis=1,inplace=True)
df.drop(["ship-city-cleaned"],axis=1,inplace=True)

In [ ]:
df.drop(["index"],axis=1,inplace=True)

In [ ]:
df.rename(columns={'standard_city': 'Ship_city'}, inplace=True)

In [ ]:
df.columns = [col.capitalize() for col in df.columns]

In [ ]:
df.columns

Index(['Order id', 'Date', 'Status', 'Fulfilment', 'Sales channel ',
       'Ship-service-level', 'Style', 'Sku', 'Category', 'Size', 'Asin',
       'Courier status', 'Qty', 'Currency', 'Amount', 'Ship-state',
       'Ship-postal-code', 'Ship-country', 'Promotion-ids', 'B2b',
       'Ship_city'],
      dtype='object')

In [ ]:
df.to_csv('cleaned_data_amazon_sales.csv', index=False)
from google.colab import files
files.download('cleaned_data_amazon_sales.csv')